/*Font setting*/
@font-face {
    font-family: 'Graphik';
    src: url('Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('Graphik-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url("https://via.placeholder.com/50"), cursor);
}

.body {
    font-family: 'Graphik';
    font-size: 16px;
    font-weight: 400;
    font-kerning: normal;
}

/*End font setting*/

/*Menu Styling*/
.logo {
    float: left;
    height: 20px;
    margin-top: 40px;
    margin-left: 40px;
}

.header {
    text-align: center;
    margin: 0;
    margin-right: 30px;
    margin-top: 30px;
    float: right;
}

.header ul {
    list-style: none;
    padding-inline-start: 0;
}

.header ul li {
    display: inline;
    padding: 10px;
    text-align: center;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.header ul li a:hover {
    text-decoration: underline;
}
/* End menu styling*/

/*Intro styling*/
.intro {
    display: block;
    background: #f2f2f2;
    min-height: 98vh;
    max-height: 98vh;
    padding-left: 10%;
    padding-right: 10%;
    color: #3C3C3C;
}

.intro-text {
    font-size: 40px;
    line-height: 1.4;
    vertical-align: middle;
    padding-top: 20%;
    padding-bottom: 20%;
    width: 95%;
}

.intro-naam {
    color: #ffffff;
    background-color: #686CBB;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.intro-afbeelding img { 
    position: absolute;
    display: none;
}
.intro-afbeelding:hover img { 
    display: block;
}

.intro-experience-1 {
    color: #ffffff;
    background-color: #F0CB62;
    padding-left: 5px;
    padding-right: 5px;
}

.intro-experience-2 {
    color: #ffffff;
    background-color: #E34B4B;
    padding-left: 5px;
    padding-right: 5px;
}

.scroll-down a {
    text-decoration: none;
    color: inherit;
}

.scroll-down::after {
    content: "↓";
    transition: opacity 0.4s ease;
    opacity: 0;
}

.scroll-down:hover::after {
    opacity: 1;
}
/*Intro styling end*/

/*Future-projects styling*/
.future-projects {
    display: block;
    background: none;
    min-height: 98vh;
    max-height: 98vh;
    padding-left: 10%;
    padding-right: 10%;

}

.future-projects h2 {
    margin-top: 10%;
    color: #ffffff;
    background-color: #F0CB62;
    padding-left: 5px;
    width: 125px;
}

.future-project-items {
    font-size: 70px;
    line-height: 1.4;
    vertical-align: middle;
    padding-bottom: 10%;
    padding-inline-start: 0;
}

.future-projects ul {
    list-style: none;
}

.future-project-items li:hover {
    text-decoration: none;
}

.future-project-items li::after {
    content: "↗";
    padding-left: 5px;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.future-project-items li:hover::after {
    text-decoration: none;
    opacity: 1;
}

.future-projects a {
    text-decoration: none;
    color: inherit;
}

/*Future projects end*/

/*Skills section start*/
.skills-block {
    display: block;
    background-color: #3C3C3C;
    min-height: 98vh;
    max-height: 98vh;
    padding: 15% 10%;
    vertical-align: middle;
}

.h2-skills {
    color: #ffffff;
}

.skills {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius: 4px;
}

.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px #4a4a4a);
}

.html {
    width: 70%;
    background-color: rgb(30,144,255);
}

.css {
    width: 60%;
    background-color: rgb(30,144,255); 
}

.java {
    width: 20%;
    background-color: rgb(30,144,255); 
}

.markt {
    width: 90%;
    background-color: rgb(30,144,255); 
}

.graf {
    width: 90%;
    background-color: rgb(30,144,255); 
}


/*Skills section end*/

/*About start*/
.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 98vh;
    max-height: 98vh;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #BDE6EC;
    color: #ffffff;
    padding-top: 20%;
    padding-bottom: 20%;
}

.about img {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.about p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: middle;
    margin-block-start: 0;
    padding-bottom: 10%;
    padding-inline-start: 0;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

/*About section end*/

/*Contact section start*/
.contact {
    background-color: #f2f2f2;
    padding: 5% 5% 5% 5%;
}

.contact p {
    text-align: center;
    font-size: 12px;
    margin-block-start: 0;
    padding-bottom: 20px;
}

.contact h2 {
    text-align: center;
}

.form {
    padding-left: 20%;
    padding-right: 20%;
}

.form input {
    padding: 11px;
    border-radius: 4px;
    border: 1px solid #BDE6EC;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.form select {
    padding: 10px;
    margin: 10px;
    height: 40px;
    border: 1px solid #BDE6EC;
    background-color: #ffffff;
    font-size: 14px;
}

.form button {
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: #BDE6EC;
    border: 1px solid #BDE6EC;
    color: #ffffff;
    font-size: 14px;
}

.form button:hover {
    padding: 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #BDE6EC;
    color: #BDE6EC;
    transition: 0.4s ease;
}
/*Contact section end*/

/*Footer section starts*/

.social-navbar {
    margin: 1% 45%;
    width: 10%;
    display: inline-block;
}

.social-navbar img {
    color: #ffffff;
}

.social-navbar a{
    padding-left: 10px;
    padding-right: 10px;
}

/*Footer section ends*/